body,
html {
  position: relative;
  width: 100%;
  height: 100%;
  font-family: "Montserrat", sans-serif;
  overflow: hidden;
}

html::before {
  content: "";
  background: url(carpentry-background.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 1;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 3rem;
  color: #fff4e3;
}

.subscribe-button {
  padding: 1rem 2rem;
}
.btn-primary {
  font-size: 1.2rem;
  font-weight: 400;
  border-radius: 100px;
  background-color: #5d5d5a;
  border-color: #5d5d5a;
  color: #fff4e3;
  border-style: none;
}
.btn-primary:hover {
  background-color: #fff4e3;
  border-color: #fff4e3;
  color: #5d5d5a;
}

.logo-container {
  width: 500px;
  height: auto;
}

.logo {
  width: 500px;
}

.nav-container,
.nav,
.menu {
  display: flex;
  justify-content: left;
  align-items: center;
  padding: 0 10px;
}

.nav {
  position: relative;
  background-color: #5d5d5a;
  padding: 20px;
  transition: 0.5s;
  border-radius: 50px;
  overflow: hidden;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
}

.menu {
  margin: 0;
  padding: 0;
  width: 0;
  overflow: hidden;
  transition: 0.5s;
}

.nav input:checked ~ .menu {
  width: 325px;
}

.menu li {
  list-style: none;
  margin: 0 10px;
}

.menu li a {
  text-decoration: none;
  color: #fff4e3;
  text-transform: uppercase;
  font-weight: 600;
  transition: 0.5s;
}

.menu li a:hover {
  color: #fff4e3;
}

.nav input {
  width: 40px;
  height: 40px;
  cursor: pointer;
  opacity: 0;
}

.nav span {
  position: absolute;
  left: 30px;
  width: 30px;
  height: 4px;
  border-radius: 50px;
  background-color: #fff4e3;
  pointer-events: none;
  transition: 0.5s;
}

.nav input:checked ~ span {
  background-color: #fff4e3;
}

.nav span:nth-child(2) {
  transform: translateY(-8px);
}

.nav input:checked ~ span:nth-child(2) {
  transform: translateY(0) rotate(-45deg);
}
.nav span:nth-child(3) {
  transform: translateY(8px);
}

.nav input:checked ~ span:nth-child(3) {
  transform: translateY(0) rotate(45deg);
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-moz-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fade-in {
  opacity: 0;
  opacity: 1 \9; /*just in case ie*/
  -webkit-animation: fadeIn ease-in 1;
  -moz-animation: fadeIn ease-in 1;
  animation: fadeIn ease-in 1;

  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;

  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  animation-duration: 1s;
}

.fade-in.one {
  -webkit-animation-delay: 0.1s;
  -moz-animation-delay: 0.1s;
  animation-delay: 0.1s;
}

.fade-in.two {
  -webkit-animation-delay: 0.3s;
  -moz-animation-delay: 0.3s;
  animation-delay: 0.3s;
}

.fade-in.three {
  -webkit-animation-delay: 0.6s;
  -moz-animation-delay: 0.6s;
  animation-delay: 0.6s;
}
.fade-in.four {
  -webkit-animation-delay: 0.9s;
  -moz-animation-delay: 0.9s;
  animation-delay: 0.9s;
}

.fade-in.five {
  -webkit-animation-delay: 1.2s;
  -moz-animation-delay: 1.2s;
  animation-delay: 1.2s;
}

.fade-in.six {
  -webkit-animation-delay: 1.5s;
  -moz-animation-delay: 1.5s;
  animation-delay: 1.5s;
}
.fade-in.seven {
  -webkit-animation-delay: 1.8s;
  -moz-animation-delay: 1.8s;
  animation-delay: 1.8s;
}

.fade-in.eight {
  -webkit-animation-delay: 2.1s;
  -moz-animation-delay: 2.1s;
  animation-delay: 2.1s;
}

.fade-in.nine {
  -webkit-animation-delay: 2.4s;
  -moz-animation-delay: 2.4s;
  animation-delay: 2.4s;
}
.fade-in.ten {
  -webkit-animation-delay: 2.7s;
  -moz-animation-delay: 2.7s;
  animation-delay: 2.7s;
}

.fade-in.eleven {
  -webkit-animation-delay: 3s;
  -moz-animation-delay: 3s;
  animation-delay: 3s;
}

.fade-in.twelve {
  -webkit-animation-delay: 3.3s;
  -moz-animation-delay: 3.3s;
  animation-delay: 3.3s;
}
